
.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 500px;
  background-color:#6C757D;
  padding: 1rem;
  border-radius: 20px;

  width: 100%;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map-frame {

  height: 100%;
}

#map {
  height: 100%;
}

.flag {
  background-size: cover;
}
